@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --main-color: #8e44ad;
  --red: #e74c3c;
  --orange: #f39c12;
  --white: #fff;
  --black: #2c3e50;
  --light-color: #888;
  --light-bg: #eee;
  --border: 1rem solid rgba(0, 0, 0, 0.2);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

*::selection {
  background-color: var(--main-color);
  color: white;
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--light-bg);
}

section {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: var(--white);
  border-bottom: var(--border);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .flex {
  padding: 1.5rem 2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .flex .logo {
  font-size: 2.5rem;
  color: var(--black);
  font-weight: bolder;
}

.header .flex .search-form {
  width: 50rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 2rem;
  background-color: var(--light-bg);
}

.header .flex .search-form input {
  width: 100%;
  background: none;
  font-size: 1.8rem;
  color: var(--black);
  border: none;
}

.header .flex .search-form button {
  font-size: 2.5rem;
  color: var(--black);
  border: none;
  background: none;
  cursor: pointer;
}

.header .flex .search-form button:hover {
  color: var(--main-color);
}

.header .flex .icons div {
  font-size: 2rem;
  color: var(--black);
  border-radius: 0.5rem;
  height: 4.5rem;
  cursor: pointer;
  width: 4.5rem;
  line-height: 4.4rem;
  text-align: center;
  background-color: var(--light-bg);
  margin-left: 0.5rem;
}

.header .flex .icons div:hover {
  background-color: var(--black);
  color: white;
}

#search-btn {
  display: none;
}
